In [70]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [71]:
data = pd.read_csv('data/FBlocation/train.csv')

In [72]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [73]:
facebook = data.query("x>2.0 & x<2.5 & y>4.0 & y<4.5")

In [74]:
facebook.shape

(75938, 6)

In [75]:
# 对时间的转换
time = pd.to_datetime(facebook['time'], unit='s')

In [76]:
time = pd.DatetimeIndex(time)

In [77]:
time

DatetimeIndex(['1970-01-09 20:47:17', '1970-01-06 00:42:48',
               '1970-01-08 11:05:39', '1970-01-02 11:30:26',
               '1970-01-01 07:31:44', '1970-01-03 01:34:01',
               '1970-01-01 13:46:18', '1970-01-07 10:48:18',
               '1970-01-01 07:04:18', '1970-01-01 07:54:37',
               ...
               '1970-01-04 23:03:52', '1970-01-01 19:34:22',
               '1970-01-03 06:59:45', '1970-01-08 04:10:45',
               '1970-01-05 01:54:51', '1970-01-09 06:47:30',
               '1970-01-03 22:38:13', '1970-01-08 11:58:33',
               '1970-01-02 13:46:34', '1970-01-01 14:37:08'],
              dtype='datetime64[ns]', name='time', length=75938, freq=None)

In [78]:
facebook['day'] = time.day
facebook['hour'] = time.hour
facebook['weekday'] = time.weekday

h:\virtualenv\ai\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
h:\virtualenv\ai\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

h:\virtualenv\ai\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
facebook.head()

      row_id       x       y  accuracy    time    place_id  day  hour  weekday
44        44  2.0768  4.4422        53  766037  1367769233    9    20        4
866      866  2.4639  4.0154       484  434568  5892845388    6     0        1
971      971  2.4423  4.2735        60  644739  3959611268    8    11        3
2236    2236  2.4842  4.1336         6  127826  9466102731    2    11        4
2811    2811  2.4197  4.3464         7   27104  9014138019    1     7        3

In [80]:
# 删除签到少的地方
place_count = facebook.groupby('place_id').count()

In [81]:
place_count.shape

(2583, 8)

In [82]:
place_count = place_count[place_count['row_id'] > 3]

In [83]:
place_count.shape

(903, 8)

In [84]:
place_count.head()

            row_id   x   y  accuracy  time  day  hour  weekday
place_id
1046180233      23  23  23        23    23   23    23       23
1052159599       4   4   4         4     4    4     4        4
1055256208       6   6   6         6     6    6     6        6
1076397197       7   7   7         7     7    7     7        7
1078138234      10  10  10        10    10   10    10       10

In [85]:
facebook = facebook[facebook['place_id'].isin(place_count.index)]

In [86]:
# 特征值
x = facebook[["x", "y", "accuracy", "hour", "day", "weekday"]]
# 目标值
y = facebook['place_id']

In [87]:
# 数据集的划分
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=22)

In [88]:
# 特征工程
transfet = StandardScaler()

x_train = transfet.fit_transform(x_train)
x_test = transfet.transform(x_test)

In [89]:
estimator = KNeighborsClassifier()

param_grid = {'n_neighbors': [1, 3, 5, 7]}

estimator = GridSearchCV(estimator, param_grid=param_grid, cv=5)

estimator.fit(x_train, y_train)

h:\virtualenv\ai\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 3, 5, 7]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring=None, verbose=0)

In [90]:
# 查看正确率
estimator.best_score_

0.36991050844996276

In [91]:
estimator.score

<bound method BaseSearchCV.score of GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 3, 5, 7]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring=None, verbose=0)>

In [92]:
y_predict = estimator.predict(x_test)

In [94]:
score = estimator.score(x_test, y_test)

In [95]:
score

0.38730055001906005