In [61]:
# 1 数据获取
# 2 特征工程
# 3 机器学习（模型建立）
# 4 模型评估

In [62]:
# 导入有用的包
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [63]:
# 读取数据
data = pd.read_csv('data/FBlocation/train.csv')

In [64]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [65]:
# 数据太大， 只拿取部分数据
facebook = data.query("x > 1.0 & x < 1.25 & y > 2.0 & y < 2.25")

In [66]:
facebook.shape

(15469, 6)

In [67]:
data.shape

(29118021, 6)

In [68]:
# 选取有用的特征值
time_value = pd.to_datetime(facebook['time'], unit='s')

In [69]:
time_value.head()

4741    1970-01-03 00:29:59
11399   1970-01-08 09:13:29
19301   1970-01-07 14:16:29
23951   1970-01-07 12:03:09
24620   1970-01-01 20:56:36
Name: time, dtype: datetime64[ns]

In [70]:
time_value = pd.DatetimeIndex(time_value)

In [71]:
time_value

DatetimeIndex(['1970-01-03 00:29:59', '1970-01-08 09:13:29',
               '1970-01-07 14:16:29', '1970-01-07 12:03:09',
               '1970-01-01 20:56:36', '1970-01-07 20:07:34',
               '1970-01-08 18:07:49', '1970-01-08 15:35:38',
               '1970-01-01 09:56:33', '1970-01-08 04:19:16',
               ...
               '1970-01-04 18:42:58', '1970-01-02 15:34:30',
               '1970-01-09 08:20:53', '1970-01-07 09:53:06',
               '1970-01-02 12:02:00', '1970-01-07 00:31:52',
               '1970-01-09 13:25:28', '1970-01-01 04:10:16',
               '1970-01-02 18:37:19', '1970-01-04 23:51:00'],
              dtype='datetime64[ns]', name='time', length=15469, freq=None)

In [72]:
facebook['day'] = time_value.day
facebook['hour'] = time_value.hour
facebook['weekday'] = time_value.weekday

h:\virtualenv\ai\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
h:\virtualenv\ai\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

h:\virtualenv\ai\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [73]:
facebook.head()

,row_id,x,y,accuracy,time,place_id,day,hour,weekday
4741,4741,1.1946,2.0587,54,174599,2538421051,3,0,5
11399,11399,1.1786,2.0303,65,638009,2538421051,8,9,3
19301,19301,1.0211,2.0910,39,569789,4419654085,7,14,2
23951,23951,1.2020,2.0091,67,561789,7341966089,7,12,2
24620,24620,1.1024,2.0448,442,75396,2538421051,1,20,3

In [74]:
# 去掉签到少的地方
place_count = facebook.groupby('place_id').count()

In [75]:
place_count.head()

            row_id   x   y  accuracy  time  day  hour  weekday
place_id
1008823061       1   1   1         1     1    1     1        1
1025585791       2   2   2         2     2    2     2        2
1040557418       1   1   1         1     1    1     1        1
1068428112       1   1   1         1     1    1     1        1
1093312343      15  15  15        15    15   15    15       15

In [76]:
place_count = place_count[place_count['row_id'] > 3]

In [77]:
place_count.head()

            row_id   x   y  accuracy  time  day  hour  weekday
place_id
1093312343      15  15  15        15    15   15    15       15
1110401599      64  64  64        64    64   64    64       64
1121539255      90  90  90        90    90   90    90       90
1181130147      38  38  38        38    38   38    38       38
1195983094      17  17  17        17    17   17    17       17

In [78]:
# 把签到地方少的全都不要
facebook = facebook[facebook["place_id"].isin(place_count.index)]

In [79]:
facebook.shape

(14669, 9)

In [80]:
# 可以看出减少了一千行而已。
# 取去目标值和特征值， 在这里是要预测在哪里签到， 所以目标值为地方id
x = facebook[["x", "y", "accuracy", "day", "hour", "weekday"]]
y = facebook["place_id"]

In [81]:
x.head()

            x       y  accuracy  day  hour  weekday
4741   1.1946  2.0587        54    3     0        5
11399  1.1786  2.0303        65    8     9        3
19301  1.0211  2.0910        39    7    14        2
23951  1.2020  2.0091        67    7    12        2
24620  1.1024  2.0448       442    1    20        3

In [82]:
y.head()

4741     2538421051
11399    2538421051
19301    4419654085
23951    7341966089
24620    2538421051
Name: place_id, dtype: int64

In [83]:
# 数据集的划分 其实不要  我们在这里已经提供了test.csv， 但是为了快速还是划分
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=6)

In [84]:
# 特征工程
transfer = StandardScaler()

x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [85]:
# 机器学习
estimator = KNeighborsClassifier()
estimator.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [86]:
# 进行模型评估
y_predict = estimator.predict(x_test)

In [87]:
y_predict == y_test

26216427    False
1345759     False
8772531     False
10578732    False
15100524     True
23778639     True
14045855    False
24570530    False
2164603     False
10673910    False
10082596    False
27377531    False
26481293     True
18086022    False
23819227    False
14399798    False
753817      False
11747277     True
12518613    False
7745833     False
14141748    False
7814581     False
7782076     False
15980117    False
28421227    False
21391251    False
19804286    False
4897329     False
10391818    False
1543183     False
            ...
2553363     False
6381605     False
17694943    False
4528091     False
3768839      True
448594      False
8885552     False
14872726     True
10345287    False
11346742     True
29073350     True
55572       False
15366306    False
13841073    False
6492872      True
12096666    False
18514553     True
15626728    False
2945419      True
10417349     True
8454447      True
18571291     True
14461295    False
25011526     True
28866919     True
518048      False
11609456    False
342975       True
3647709     False
19922025    False
Name: place_id, Length: 3668, dtype: bool

In [88]:
score = estimator.score(x_test, y_test)

In [89]:
score

0.4048527808069793